
.form-container{
    display: flex;
    justify-content: center;
    padding: 5em;
    background-color: rgb(15, 49, 49);
}
form input{
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
}
.submit-button{
   border-radius: 10px;
   height: 3rem;
   width: 5rem; 
}

.submit-button:hover{
    background-color: aquamarine;
}

.submit-button:focus{
    outline: none;
}

.button{
    background-color: rgb(57, 18, 93);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color: wheat;
}

.button:hover{
    background-color: rgb(19, 19, 135);
}

.button:focus{
    outline: none;
}


.list-items{
    list-style-type: none;
    margin-left: 40px;
}
.input-field{
    width: 20rem;
}

.input-text{
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.delete-button{
    width: 31px;
    height: 25px;
    font-size: 15px;
}

